# Simple Calculator

In [15]:
num_1 = 9
num_2 = 3

add(num_1, num_2)

print (num_1 + num_2)

12

In [17]:
subtract(num_1, num_2)

print (num_1 - num_2)

6

In [19]:
multiply(num_1, num_2)

print (num_1 * num_2)

27

In [21]:
divide(num_1, num_2)

print (num_1 / num_2)

3.0

# In the above Program, we take two numeric values 
(here, we are taking float data type), and we get all the outputs
(addition, subtraction, multiplication, and division) once we input both numbers

# Temperature conversion

Celsius(°C) = (Fahrenheit(°F) - 32) × 5/9

Fahrenheit(°F) = (Celsius(°C) × 9/5) + 32


Celcius(°C) = 40

Fahrenheit(°F) = 94.6

In [46]:
print ((94.6 - 32) * 5/9)

34.77777777777778

In [52]:
print ((40 * 9/5) + 32)

104.0

# Odd or Even Checker

Num_1 = int(22)
Num_2 = int(7)

if number % 2 == 0:
    print(f"{22} is even.")

else:
    print(f"{7} is odd.")